<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moodmix.mapper.ProductMapper">

    <select id="getInfoByCategory" parameterType="hashMap" resultType="hashMap">
        SELECT cloth_id, cloth_name, cloth_type, cloth_description, cloth_price, cloth_discount, cloth_size, cloth_defaultImage
        FROM clothes
        WHERE cloth_type = #{category}
    </select>

    <select id="getAllProducts" parameterType="hashMap" resultType="hashMap">
        SELECT cloth_id, cloth_name, cloth_type, cloth_description, cloth_price, cloth_discount, cloth_size, cloth_defaultImage
        FROM clothes
    </select>
</mapper>