<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moodmix.mapper.ProductMapper">

    <select id="getInfo" resultType="hashMap">
        SELECT c.cloth_id, c.cloth_name, c.cloth_description, c.cloth_price, c.cloth_size, ci.cloth_imageUrl
        FROM clothes AS c
        JOIN clothes_image AS ci ON c.cloth_id = ci.cloth_id
        WHERE c.cloth_type = #{category}
    </select>
</mapper>