<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moodmix.mapper.ProductMapper">

    <select id="getAllProducts" parameterType="hashMap" resultType="hashMap">
        SELECT cloth_id, cloth_name, cloth_type, cloth_description, cloth_price, cloth_discount, cloth_size, cloth_defaultImage
        FROM clothes
        <choose>
            <when test="option == 1">
            </when>
            <when test="option == 2">
                ORDER BY cloth_price ASC
            </when>
            <when test="option == 3">
                ORDER BY cloth_price DESC
            </when>
        </choose>
    </select>

    <select id="getCount" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM clothes
        WHERE cloth_type = #{category}
    </select>

    <select id="getTotalCount" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM clothes
    </select>

    <!--가격순-->
    <select id="getProductBySort" parameterType="hashMap" resultType="hashMap">
        SELECT cloth_id, cloth_name, cloth_type, cloth_description, cloth_price, cloth_discount, cloth_size, cloth_defaultImage
        FROM clothes
        WHERE cloth_type = #{category}
        <choose>
            <when test="option == 1">
            </when>
            <when test="option == 2">
                ORDER BY cloth_price ASC
            </when>
            <when test="option == 3">
                ORDER BY cloth_price DESC
            </when>
        </choose>
    </select>

    <select id="getProductInfo" parameterType="hashMap" resultType="hashMap">
        SELECT *
        FROM clothes
        JOIN clothes_image ON clothes.cloth_id = clothes_image.cloth_id
        WHERE clothes.cloth_id = #{clothId} AND clothes_image.cloth_color = #{clothColor};
    </select>

    <select id="getColorList" parameterType="hashMap" resultType="hashMap">
        SELECT DISTINCT cloth_color
        FROM clothes_image WHERE cloth_id = #{clothId} ;
    </select>

    <select id="getSizeList" parameterType="hashMap" resultType="hashMap">
        SELECT DISTINCT cloth_size
        FROM clothes_image WHERE cloth_id = #{clothId} ;
    </select>

</mapper>