<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moodmix.mapper.QnaMapper">


    <select id="getAllList" parameterType="hashMap" resultType="hashMap">
        SELECT q.*, u.user_name
        FROM qna q
        INNER JOIN users u ON q.user_seq = u.user_seq
        WHERE q.qna_id BETWEEN #{startPage} AND #{endPage}
    </select>

    <select id="getTotalCount" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM qna
    </select>

    <insert id="insertQnaInfo" parameterType="hashMap">
        INSERT INTO qna (qna_title, qna_content, qna_date, qna_password, user_seq)
        VALUES (#{title}, #{content}, CURDATE(), #{userPassword}, #{userSeq})
    </insert>

    <select id="getcheckPwd" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM qna
        WHERE qna_id = #{qnaId}
        AND qna_password = #{qnaPassword}
    </select>
</mapper>
