<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moodmix.mapper.QnaMapper">


    <select id="getAllList" parameterType="hashMap" resultType="hashMap">
        SELECT q.*, u.user_name
        FROM qna q
        INNER JOIN users u ON q.user_seq = u.user_seq
        WHERE q.qna_id BETWEEN #{startPage} AND #{endPage}
        ORDER BY q.qna_date DESC
    </select>

</mapper>
