<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moodmix.mapper.SignUpMapper">

<!--    중복체크 있으면 0 / 없으면 1-->
    <insert id="SignUp" parameterType="map">
        INSERT INTO users(user_id, user_password, user_name, user_birth)
        SELECT
        #{userId},
        #{userPassword},
        #{userName},
        #{userBirth}
        FROM dual
        WHERE NOT EXISTS (
        SELECT user_id
        FROM users
        WHERE user_id = #{userId}
        )
    </insert>
</mapper>
