<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moodmix.mapper.UserMapper">

    <select id="getUserInfo" parameterType="hashMap" resultType="hashMap">
        SELECT user_name, user_birth, user_password, user_sex, user_phone
        FROM users
        WHERE user_id = #{loginId}
    </select>

    <update id="updateInfo" parameterType="hashMap">
        UPDATE users
        SET user_password = #{userPassword},
        user_birth = #{userBirth},
        user_sex = #{userSex},
        user_phone = #{userPhone},
        user_name = #{userName}
        WHERE user_id = #{userEmail}
    </update>

</mapper>